* {
    margin: 0px;
    border: 0px;
}
header {
    width: 960px;
    height: 200px;
    background: rgb(7, 151, 247);
    text-align: center;
    display:table;
    margin: auto;
}
h1 {
    font-size: 50px;
    display:table-cell;
    vertical-align:middle;
}

main {
    width: 960px;
    margin: auto;
}

#navbar ul{
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}

#navbar li:hover ul { display: block; }

#navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 30px;
    background-color: #666;
    padding-left: 25px;
    min-width: 470px;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#navbar ul li { float: none; }

#navbar li:hover { background-color: #f90; }

#navbar ul li:hover { background-color: #666; }

.container {
    background: rgb(94, 191, 236);
    width: 70%;
    height: 453px;
    /* overflow: hidden; */
    float: left;
}

.photo {
    margin: 50 50 50 50;
    width: 120px;
    height: 160px;
    background: rgb(255, 255, 255);
    float: left;
}

p {
    /* float: right; */
    font-size: 20px;
    width: auto;
    margin: 50 50 50 50;
}

.marketing {
    width: 30%;
    height: 403px;
    background: rgb(180, 180, 180);
    float: right;
    text-align: center;
    padding-top: 50;
}


footer {
    width: 960px;
    margin: auto;
    height: 200px;
    background: rgb(220,220, 220);
    text-align: center;
    display:table;
}